@tailwind base;
@tailwind components;
@tailwind utilities;

/* SHAKE ANIMATION ON HORIZONTAL DIRECTION */
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.dropdown.dropdown-open .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
  transform: scale(0.9);
}

#printArea {
  font-family: "kalpurush", Arial, sans-serif;
  font-size: 13px !important;
  line-height: 1.2;
}

.dotted_botton {
  border: none;
  border-bottom: 1px dotted #000;
  background-color: #fff;
}
.border_none {
  border-top: none !important;
}
.table-bordered {
  border: 1px solid #ddd;
}
.b1 {
  border: 1px dotted;
  padding: 2px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.page-container {
  margin: 0px;
  padding: 20px 20px 0 20px;
  position: relative;
}

.page-header-fixed .page-container {
  margin-top: 30px;
}

@media (max-width: 991px) {
  .page-container {
    margin: 0 !important;
    padding: 10px 10px 0 10px;
  }
  .page-header-fixed .page-container {
    margin-top: 0px !important;
  }
}

@page {
  size: a4;
  margin: 0mm;
}
html {
  background-color: #ffffff;
  margin: 0px;
}
body {
  border: solid 0px blue;
  margin: 0mm;
}

p {
  margin: 0 0 10px;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #ddd;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
