@tailwind base;
@tailwind components;
@tailwind utilities;

/* SHAKE ANIMATION ON HORIZONTAL DIRECTION */
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.dropdown.dropdown-open .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
  transform: scale(0.9);
}

@font-face {
  font-family: "kalpurush";
  src: url("/fonts/kalpurush.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "mySolaimanLipiFont";
  src: url("/fonts/SolaimanLipi.ttf") format("truetype");
  /*    src: url("SolaimanLipi_20-04-07.ttf");*/
}

@font-face {
  font-family: "boishakhi";
  src: url("/fonts/Boishkhi.ttf") format("truetype");
  /*    src: url("SolaimanLipi_20-04-07.ttf");*/
}

@font-face {
  font-family: "nikosh";
  src: url("/fonts/Nikosh.ttf") format("truetype");
  /*    src: url("SolaimanLipi_20-04-07.ttf");*/
}

#printArea {
  font-family: "kalpurush", Arial, sans-serif;
  font-size: 13px !important;
  line-height: 1.2;
}

.dotted_botton {
  border: none;
  border-bottom: 1px dotted #000;
  background-color: #fff;
}

.border_none {
  border-top: none !important;
}

.table-bordered {
  border: 1px solid #ddd;
}

.b1 {
  border: 1px dotted;
  padding: 2px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.page-container {
  margin: 0px;
  padding: 20px 20px 0 20px;
  position: relative;
}

.page-header-fixed .page-container {
  margin-top: 30px;
}

@media (max-width: 991px) {
  .page-container {
    margin: 0 !important;
    padding: 10px 10px 0 10px;
  }

  .page-header-fixed .page-container {
    margin-top: 0px !important;
  }
}

@page {
  size: a4;
  margin: 0mm;
}

html {
  background-color: #ffffff;
  margin: 0px;
}

body {
  border: solid 0px blue;
  margin: 0mm;
}

p {
  margin: 0 0 10px;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #ddd;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.input_bangla {
  font-family: boishakhi !important;
  font-size: 90%;
}

.numeric_bangla {
  font-family: boishakhi !important;
  font-size: 80%;
}

.ldTaxBtn {
  margin-top: 25px;
}

.portlet > .portlet-title > .caption i {
  font-size: 20px;
  margin-top: 1px;
  margin-right: 5px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: kalpurushregular !important;
  /*     font-family:'mySolaimanLipiFont',Arial,Vrinda,FallbackBengaliFont,Helvetica,sans-serif !important;*/
}
.bangla {
  font-family: kalpurushregular !important;
}
#loader {
  width: 100%;
  height: 100%;
  background: #9adad6;
  position: fixed;
  top: 1px;
  opacity: 0.55;
  display: none;
}
#loader img {
  position: fixed;
  top: 314px;
  left: 737px;
  z-index: 9999;
}

.cont {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark1 {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 1px solid #979797;
}

.cont:hover input ~ .checkmark1 {
  background-color: #fff;
}

.cont input:checked ~ .checkmark1 {
  background-color: #fff;
}

.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

.cont .active.checkmark1:after {
  display: block;
}

.cont .checkmark1:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #584b42;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -10px !important;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .page-header.navbar.navbar-fixed-top {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .page-header.navbar {
    background: #683091;
    border-bottom: 1px solid #e9ecf3;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  form {
    position: relative;
    overflow: scroll;
    width: 300px;
  }

  .user_manual {
    width: 100%;
  }
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }
  * {
    font-size: 15px;
  }
  .dakhila-top-control,
  .dakhila-bottom-control {
    font-size: 17px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  form {
    position: relative;
    overflow: scroll;
    width: 300px;
  }

  .user_manual {
    width: 100%;
  }

  .user_manual a {
    display: table;
    margin: 0 auto;
  }
}
